<h3>Register Form</h3>
<form action="/user" method="post">
    <input type="text" style="display:block" name="userData[fName]" placeholder="first name"/>
    <input type="text" style="display:block" name="userData[lName]" placeholder="last name"/>
    <input type="text" style="display:block" name="userData[address]" placeholder="address"/>
    <input type="text" style="display:block" name="userData[username]" placeholder="username"/>
    <input type="password" style="display:block" name="userData[pass]" placeholder="password"/>
    <input type="email" style="display:block" name="userData[email]" placeholder="email"/>
    <button>Register!</button>
</form>